//
//  HnbProjectConfig.xcconfig
//  Mixpanel
//
//  Created by Dev Apps on 8/11/25.
//  Copyright © 2025 Mixpanel. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

DEAD_CODE_STRIPPING = YES

